.landinglayout {
  position: relative;
  height: auto;
  width: auto;
  margin-left: 400px;
  background-color: white;
  overflow-y: auto;
}

.landinglayout > .container {
  font-weight: bold;
  width: 100%;
}

.landinglayout > .container > .header-section {
  text-align: center;
  border-bottom: 8px solid lightgrey;
}

.header-section .row-title {
  height: 80px;
  align-items: center;
  justify-content: center;
}

.header-section .row-sub-title-2 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Toggler button */
.row-title .nav-toggler {
  height: 100%;
}

.landinglayout img {
  width: 100%;
  max-width: 500px;
  height: 550px;
}

.landinglayout #row1 {
  position: relative;
  height: auto;
  width: auto;
}

.landinglayout #row1 .container {
  background-color: lightgrey;
}

.landinglayout #image_wrap1 {
  position: relative;
  height: auto;
  width: auto;
}

.landinglayout .row-image {
  position: relative;
  height: auto;
  width: auto;
}

.img_description {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(36, 158, 178, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity 0.2s, visibility 0.2s;
}

#image_wrap1:hover .img_description,
#image_wrap2:hover .img_description,
#image_wrap3:hover .img_description {
  visibility: visible;
  opacity: 1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#row1 h3 {
  margin-top: 50%;
  font-family: "Raleway", "sans-serif";
  font-size: 50px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .landinglayout {
    margin-left: 0px;
  }
}

@media (min-width: 701px) {
  .row-title .nav-toggler {
    display: none;
  }
}
