.container-footer {
  margin-left: 400px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: lightgrey;
}

.container-footer .column-content {
  border-top: 8px solid darkgray;
}

@media (max-width: 700px) {
  .container-footer {
    margin-left: 0px;
  }
}
