html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

#mainBody {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "sans-serif";
  max-width: 1900px;
}

@media (max-width: 700px) {
  .nav-side {
    display: none;
  }
}
